<label>Enter input here:</label>
<input 
    type="text"
    class="form-control"
    (input)="onUpdateServerName($event)">
    <p>{{ serverName }}</p>

<label>Enter input here for 2way Binding:</label>
<input 
    type="text"
    class="form-control"
    [(ngModel)]="serverName">
    <p>{{ serverName }}</p>
<div class="container">
    <button class="btn btn-primary" [disabled]="!addNewServer"
    (click)='getServerStatus()' >Add Server</button>
    <p *ngIf= "createdStatus" >{{ createNewServerStatus }}</p>
    <p [innerText]="addNewServer" ></p>
    <app-server></app-server>
    
</div>

